/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/
/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/
 @media only screen and (min-width: 768px) and (max-width: 991px) {
     .main-menu ul>li a {
         padding: 20px 20px 20px;
    }
     .header-search {
         padding: 15px 0px;
    }
}
/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/
 @media only screen and (min-width: 599px) and (max-width: 767px) {
     .logo {
         text-align: center;
    }
     .cart-content-right {
         padding-bottom: 5px;
    }
     .mg {
         margin: 0px 0px;
    }
     .menu-area-main {
         height: 256px;
         overflow-y: auto;
    }
     .megamenu>.row [class*="col-"] {
         padding: 0px;
    }
     .menu-area-main .megamenu .men-cat {
         padding: 0px 15px;
    }
     .menu-area-main .megamenu .women-cat {
         padding: 0px 15px;
    }
     .menu-area-main .megamenu .el-cat {
         padding: 0px 15px;
    }
     .mean-container .mean-nav ul li a.mean-expand {
         height: 19px;
    }
     .category-box.women-box {
         display: none;
    }
     .cart-box {
         display: inline-block;
         margin: 0px 30px;
    }
     .wish-box {
         float: none;
         margin: 0px 30px;
         display: inline-block;
    }
     .menu-add {
         display: none;
    }
     .category-box {
         display: none;
    }
     .mean-container .mean-nav ul li ol {
         padding: 0px;
    }
     .mean-container .mean-nav ul li a {
         padding: 10px 20px;
         width: 94.8%;
    }
     .mean-container .mean-nav ul li li a {
         width: 92%;
         padding: 1em 4%;
    }
     .mean-container .mean-nav ul li li li a {
         width: 100%;
    }
     .header-search {
         padding: 15px 0px;
    }
     #collapseFilter.d-md-block {
         padding: 30px 0px;
    }
}
/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/
 @media only screen and (min-width: 280px) and (max-width: 599px) {
     .cart-content-right {
         padding-bottom: 5px;
    }
     .megamenu>.row [class*="col-"] {
         padding: 0px;
    }
     .menu-area-main .megamenu .men-cat {
         padding: 0px 15px;
    }
     .menu-area-main .megamenu .women-cat {
         padding: 0px 15px;
    }
     .menu-area-main .megamenu .el-cat {
         padding: 0px 15px;
    }
     .mean-container .mean-nav ul li a {
         padding: 1em 4%;
         width: 92%;
    }
     .mean-container .mean-nav ul li li a {
         width: 90%;
         padding: 1em 5%;
    }
     .mean-container .sub-full.megamenu-categories ol li a {
         padding: 5px 0px;
         text-transform: capitalize;
         width: 100%;
    }
     .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
         width: auto;
         border: none;
         float: none;
    }
     .menu-area-main {
         height: 290px;
         overflow-y: auto;
    }
     .mean-container .mean-nav ul li a.mean-expand {
         top: 0;
    }
}
 @media (min-width: 1200px) and (max-width: 1500px) {
     .banner-main .carousel-caption {
         background: transparent;
    }
    .text-bg h1 {font-size: 60px; line-height: 64px;}
}
 @media (min-width: 992px) and (max-width: 1199px) {
     .text-bg {
         padding-left: 30px;
    }
    .text-img figure img {max-width: 735px;} 
    .text-bg {
    padding-top: 160px;
}
     .text-bg h1 {
         padding-top: 218px;
         font-size: 43px;
         line-height: 54px;
         padding-bottom: 10px;
    }
     .text-bg span {
        padding-bottom: 13px;
    }
     .submit {
        padding: 14px 0px;
         max-width: 231px;
    }
}
 @media (min-width: 768px) and (max-width: 991px) {
      .text-img figure img {max-width: 490px;} 
    .text-bg {
    padding-top: 224px;
}
.header-top {min-height: inherit;}
     .main-menu ul>li a {
         padding: 8px 12px 8px 12px;
    }
     .full-slider_cont h1 {
         font-size: 40px;
         line-height: 50px;
    }
     .text-bg h1 {
         padding-top: 0px;
    font-size: 33px;
    line-height: 46px;
    padding-bottom: 5px;
    }
     .b_bold {
         font-size: 53px;
    }
     .text-bg span {
        padding-bottom: 12px;
        font-size: 14px;
    }
     .text-bg a {
        margin-right: 5px;
         padding: 10px 23px;
    }
     .text-bg {
         padding-left: 50px;
    }
     .submit {
        padding: 14px 0px;
         max-width: 170px;
    }
     .address {
         margin-bottom: 30px;
    }
}
 @media (min-width: 576px) and (max-width: 767px) {
     .mean-container .mean-bar {
         margin-top: 0px;
    }
     .slider_section {
        padding-top: 105px;
    }
    .text-img {padding-top: 40px;}
    .header-top {min-height: inherit;}
     .text-img figure img {width: 100%;}
    .text-bg {display: none;}
     .text-img {
        padding-top: 30px;
    }
     ul.top_icon li a {
        padding: 0px 6px;
    }
     .padding_left0 {
        padding-left: 15px;
    }
     .menu-area-main li.active a {
        background: inherit;
    }
     .testimonial_box {
        padding-bottom: 20px;
    }
     .testimonial .clients_box h3 {
        padding-top: 0px;
    }
     .our .Games h3 {
        padding-top: 20px;
    }
     .submit {
        padding: 14px 0px;
         max-width: 154px;
    }
     .address {
        padding-bottom: 20px;
    }
}
 @media (max-width: 575px) {
     .header {
         padding-bottom: 0px;
    }
     .logo {
         text-align: center !important;
         padding-bottom: 25px;
         float: inherit;
    }
     .menu-area-main li.active a {
        background: inherit;
    }
    .text-img {padding-top: 40px;}
    .header-top {min-height: inherit;}
    .text-img figure img {width: 100%;}
   .text-bg {display: none;}
     .slider_section {
        padding-top: 95px;
    }
     ul.top_icon {
        display: none;
    }
     .titlepage h2 {
        line-height: 33px;
         font-size: 33px;
    }
     .padding_left0 {
        padding-left: 15px;
    }
     .our .Games h3 {
        padding-top: 20px;
    }
     .testimonial_box {
        padding-bottom: 20px;
    }
     .testimonial .clients_box h3 {
        padding-top: 0px;
    }
     .testimonial .clients_box p {
        font-size: 15px;
    }
     .contact .contact_bg {
        padding: 40px 20px;
    }
     .submit {
        font-size: 15px;
         padding: 14px 0px;
         max-width: 134px;
    }
     .news .newslatter {
        padding: 14px 10px;
         width: 54%;
         font-size: 15px;
    }
     .address {
        padding-bottom: 20px;
    }
}
